@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');

body {
  color: #080F0F;
  background: rgb(228,245,249);
  background: linear-gradient(180deg, rgb(222, 247, 253) 0%, rgba(241,243,244,1) 20%, rgba(243,243,243,1) 80%, rgb(214, 245, 253) 100%);
  min-height: 100vh;
}